body{
    background: #F5F5F5;
}

header{
   
    background: linear-gradient(258.03deg, rgba(78, 38, 236, 0.33) -0.91%, #B0FFDE 106.31%);
    height: 100px;
}
.logo{
    margin-left: 100px;   
}

.logo img{
    padding: 25px;
    height: 50px;
}

.add-form {
    width: 450px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    left: 100px;
    top: 20%
}

input[type=text] {
    width: 100%;
   
    background: #f2f2f2;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
  }
  
input[type=number] {
  
    background: #f2f2f2;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

  
.btn-add {
    color: white;
    height: 50px;
    width: 300px;
    margin: 10px 70px 20px 70px ;
    background: linear-gradient(270deg, #3E64FF 20.25%, #C8CDFF 87.25%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.btn-add-circle {
    position: absolute;
    background: #3E64FF;
    color: white;
    border-radius: 50px;
    bottom: 10px;
    right: 50px;
    height: 50px;
    width: 50px;
    visibility: hidden;
}

input[type=text]:focus,input[type=number]:focus {
    border: 3px solid rgb(157, 206, 207);
  }

.calc-info{
    width: 600px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    top: 13%;
    right: 100px;
    
    
}


.calc-total{
    border-radius: 7px 7px 0 0;
    color: white;
    background: #3E64FF;
    height: 100%;

}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }

.delBtn{
    background: transparent;
    border: none
    
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
#close {
    color: #3E64FF;
    font-size: 28px;
    font-weight: bold;
    background: transparent;
    border-color: #3E64FF;
    height: 50px;
    width: 300px;
    margin: 10px 70px 20px 70px ;
    border-radius: 12px;
}

#close:hover,
#close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
  


  @media screen and (max-width: 768px) {
    /* Styles */

    header{

        height: 150px;
    }
    .logo{
        margin-left: 50px;  
        margin-right: 50px;  
         
    }
    .logo img{
        margin: 10px;
        padding: 25px;
        height: 50px;
    }
   .add-form{

        /* width: 350px; */
        left: 0;
   }
   .mobile{
       visibility: hidden;
   }

   .add-btn{
    width: 250px;  
    margin: 10px 30px 20px 30px ; 
   }
   .calc-info{
        top: 15%;
        right: 0;
   }
   .btn-add-circle{
       visibility: visible;
   }
   .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}