header{
   
    background: linear-gradient(258.03deg, rgba(78, 38, 236, 0.33) -0.91%, #B0FFDE 106.31%);
    height: 100px;
}
.logo{
    margin-left: 100px;   
}

.logo img{
    padding: 25px;
    height: 50px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    header{
   
        
        height: 150px;
    }
    .logo{
        margin-left: 50px;  
        margin-right: 50px;  
         
    }
    .logo img{
        margin: 10px;
        padding: 25px;
        height: 50px;
    }
   
}